@import "tailwindcss";

@import "/base.css";
@import "/footer.css";
@import "/index.css";
@import "/gallery.css";
@import "/artwork-detail.css";
@import "/recognition.css";
@import "/colecction.css";
@import "/auth.css";
@import "/admin.css";
@import "/help.css";

